<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/change-password}" method="post">
    <div>
        <label for="currentPassword">Текущий пароль:</label>
        <input type="password" id="currentPassword" name="currentPassword" required />
    </div>
    <div>
        <label for="newPassword">Новый пароль:</label>
        <input type="password" id="newPassword" name="newPassword" required />
    </div>
    <div>
        <button type="submit">Изменить пароль</button>
    </div>
</form>

</body>
</html>